<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
    <% include ./partials/snow %>
  </head>
  <body> 
    <div class="container">
      <div class="row">    
        <div class="card">
          <div class="card-body">
            <a href="/all" class="btn btn-info">Back to list</a>
        <form action="/addRestaurant" method="POST">
          <h4 class="card-title">Add restaurant</h4>
           Name <input type="text" name="resname"><br>
           Location <input type="text" name="reslocation"><br>
           Type <input type="text" name="restype"><br>
            <button type="submit" class="btn btn-primary">Add restaurant</button>
        </form>
      </div>
    </div>
     </div>
    </div>
  </body>
</html>