<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
    <% include ./partials/snow %>
  </head>
  <body> 
    <div class="container-fluid">
      <div class="row">            
          <div class="card niceColors">
            <div class="card-body">
          <form id="formEditUser" method="post" action="/editRestaurants/<%= theRestaurant.restaurant_ID %>">
            <h6 class="card-text">Edit restaurant Name: <input type="text" value="<%= theRestaurant.restaurant_Name %>" name="resname" /> </h6> 
            <h6 class="card-text">Edit restaurant Location: <input type="text" value="<%= theRestaurant.restaurant_Location %>" name="resloc" /> </h6>
            <h6 class="card-text">Edit restaurant Type: <input type="text" name="restype" value="<%= theRestaurant.restaurant_Type %>" name="restype"> </h6>  
            
           <button type="submit" class="btn btn-primary">Submit Changes</button> 
           <a href="/restaurants" class="btn btn-info">Back to list</a> 
          </form>
        </div>
      </div>
     </div>
    </div>
  </body>
</html>